.content{
  border: 1px solid #242424;
  display: flex;
  background-color: #f1f1f1;
  border-radius: 30px;
  margin : 0.5rem auto 1rem auto;
  padding: 0 0 0 1rem;
}
.timer {
  display: flex;
  justify-content: center;
}

.digits{
  font-size: 1.5rem;
  color:  #242424;
}

.pause {
  display: flex;
  color: #f1f1f1;
  justify-content: center;
  align-items: center;
  background-color: green;
  border: none;
  border-radius: 0 30px 30px 0;
  height: 100%;
  padding: 0 0.5rem;
  cursor: pointer;
}

.actif {
  background-color: #e42a2a;
}

.pause img {
  height: 1.5rem;
}

.mili-sec{
  color:  #e42a2a;
  margin-right: 0.5rem;
}