td {
  text-align: center;
  vertical-align: middle;
  box-shadow: inset 1px 1px 4px #f1f1f1;
  background-color: #242424;
  color: #f1f1f1;
  font-weight: bold;
}

td.clean {
  box-shadow: none;
  border-color: #242424;
  background-color: #f1f1f1;
  color: #242424;
}

td.fail {
  color: red;
}

td.pointer {
  cursor: pointer;
}

td img {
  display: block;
  margin: auto auto;
  height: 1rem;
  width: 1rem;
  color: #ff0505;
}

td.blue {
  color: blue;
}

td.green {
  color: darkgreen;
}

td.red {
  color: red;
}

td.darkBlue {
  color: darkblue;
}

td.darkRed {
  color: darkred;
}

td.marine {
  color: darkcyan;
}

td.black {
  color: black;
}

td.grey {
  color: grey;
}

/* @media (prefers-color-scheme: light) {
  td {
    color: #242424;
    font-weight: bold;
  }
  
  td.clean {
    border-color: #f1f1f1;
    background-color: #242424;
    color: #f1f1f1;
  }
  
} */